* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
}

.header {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 200px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
     font-size: 18px;
}

.sec1 {
    background-color: #1F2937;
    display: flex;
    padding: 50px 200px;
}

.sec1left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 450px;
}
.sec1right img {
    width: 400px;
    height: 100%;
    object-fit: cover;
}

.sec1 h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.sec1 p {
    font-size: 18px;
    color: #E5E7EB;
}

.sec1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    align-self: flex-start;
}

.sec2 {
    padding: 50px 200px;
}

.sec2 h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    max-width: 200px;
    text-align: center;
}

.card img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 8px;
}
.sec3 {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.sec3 blockquote {
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
    font-weight:lighter;
}

.author {
    text-align: right;
    font-weight: bold;
    font-size: 16px;
}

.sec4 {
    padding: 50px 200px;
  /* padding around the section */
}

.cta-card {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 25px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  /* background color, border-radius, padding inside card, flexbox to arrange left/right */
}

.cta-text h2 {
    font-size: 20px;
    color: #F9FAF8;
  /* color, font size */
}

.cta-text p {
    color: #E5E7EB;
    font-size: small;
  /* color */
}

.cta-button button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 10px 20px;
    color: #F9FAF8;
  /* background, text color, border, padding, border-radius */
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    text-align: center;
}